{{ $config := .Site.Data.config }}
<section id="contact" class="bg-light d-flex align-items-center" style="height: 100vh;">
  <div class="container">
    <h2 class="heading mb-3">Want to know more about me?</h2>

    <div class="row">
        <div class="col-12 col-xl-12 col-lg-12 col-md-12">
            <p>Okay, then. What else is there to be said...?</p>
            <p>I graduated with a Master's Degree on Computers and Telematics Engineering
                at the University of Aveiro. I am currently living and working in Lisbon.</p>
            <p>I spend most of my free time reading and watching videos on 
                web developement, classic videogames, Android Development, and hacking.</p>
            <p>If you want to know more about me then I suggest you to do the following:</p>
            <p>
                <a href="https://blog.davidsilva.pt">
                    <button type="submit" class="btn btn-dark">Read my blog</button>
                </a>
                <a href="mailto:hello@davidsilva.pt">
                    <button type="submit" class="btn btn-dark">Send me an email</button>
                </a>
            </p>
        </div>
    </div>
    
  </div>
</section>